*.o
*.d
*~
*.dex
*.class
*.aab
*.apk
*.ipa
*.dmg
*.ap_
*.idsig
*.vcxproj.user
*.VC.opendb
*.VC.db
*.aps
~$*.doc*
~$*.xls*
~$*.ppt*
.DS_Store
xcuserdata/
.vs/
*-download.plist
.ruby-version
.bundle
vendor/

cocos2d/cocos/platform/android/libcocos2dx/*.iml
cocos2d/cocos/platform/android/libcocos2dx/build/
proj.android/.gradle
proj.android/.idea
proj.android/*.iml
proj.android/*.zip
proj.android/build
proj.android/app/.cxx
proj.android/app/.externalNativeBuild/
proj.android/app/*.iml
proj.android/app/build
proj.android/libvoice/*.iml
proj.android/libvoice/build
proj.android/libzxing/*.iml
proj.android/libzxing/build
proj.android/local.properties

proj.ios_mac/*/CMakeCache.txt
proj.ios_mac/*/CMakeFiles/
proj.ios_mac/*/CMakeScripts/
proj.ios_mac/*/*.xcodeproj/
proj.ios_mac/*/cmake_install.cmake
proj.ios_mac/*/CTestTestfile.cmake
proj.ios_mac/*/Testing
proj.ios_mac/*/test-results-*
proj.ios_mac/*/bin/
proj.ios_mac/*/engine/
proj.ios_mac/*/lib/
proj.ios_mac/*/*.build/
proj.ios_mac/*/*.derived_data/
proj.ios_mac/*/SharedPrecompiledHeaders/
proj.ios_mac/ios/ExportOptions.plist
proj.ios_mac/ios/DistributionSummary.plist
proj.ios_mac/ios/Podfile
proj.ios_mac/ios/Podfile.lock
proj.ios_mac/ios/Pods
proj.ios_mac/ios/*.xcworkspace
proj.ios_mac/*/Applications*
proj.ios_mac/*/Packaging.log
proj.ios_mac/mac/Info.plist
proj.ios_mac/mac/*.export
proj.ios_mac/mac/*.dmg

proj.win32/bin/
proj.win32/lib/
proj.win32/CMakeCache.txt
proj.win32/CMakeFiles/
proj.win32/CMakeScripts/
proj.win32/cmake_install.cmake
proj.win32/engine/
proj.win32/*.sln
proj.win32/*.vcxproj
proj.win32/*.vcxproj.filters
proj.win32/Win32
proj.win32/Debug
proj.win32/Release

Debug.win32/
Release.win32/
Generated Files/
